i {color: #00f;
   font-size: 18px;}

.color {color: rgb(236, 212, 131);}

a {color: red;
     font-size: 20px;
     text-align: right;}

#right {text-align: right;
        font-size: 16px;}

  .buscar{font-display: right;}      

body {background-color: rgb(100, 98, 98);
}

h1 {color: #900;
    text-align: center;}

h2 {color: #f00; 
    text-align: center;}



