i {color: #00f;
   font-size: 18px;}

.color{color: rgb(141, 65, 228);}

a {color: red;
     font-size: 20px;
     text-align: right;}

.right{text-align: right;}

body {background-color: rgb(197, 183, 250);
}

h1 {color: #900;
    text-align: center;}

h2 {color: #f00; 
    text-align: center;}

p {font-size: 16px;}

